@using ICSoft.CMSViewLib
@using ICSoft.CMSLib
@using LawsVN.Models
@using LawsVN.Library
@model NewsViewModel

@for (int i = 0; i < Model.ListArticlesView.Count; i++ )
{
    ArticlesView mArticlesView = Model.ListArticlesView[i];
    string imgUrl = string.IsNullOrEmpty(mArticlesView.GetImageUrl_Mobile()) ? Constants.NoImageUrl : mArticlesView.GetImageUrl_Mobile();
    <div class="drop-luocdo">
                <div id="dropbox">
                    <div class="dropcontent">
                        <div class="tieloto">
                            <div class="tie-drop luocdo">
                                @(i + 1). @mArticlesView.Title
                                <span class="moredrop"></span>
                            </div>
                            <div class="dropsub" style="display: @(i == 0 ? "block" : "none");">
                                <div class="content-huong-dan">
                                    @Html.Raw(mArticlesView.ArticleContent)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                                                
}
 <!--Bengin pagination -->
@{
    Html.RenderAction("PartialPaginationAjax4", "Shared", new { model = Model.mPartialPaginationAjax });}
<!--End pagination -->