<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CMS_CONSTR" value="Data Source=172.16.0.25\MSSQL2008DEV,1414;Initial Catalog=LuatVietNamCMS;Persist Security Info=True;User ID=dev;Password=dev;" />
    <add key="MAIL_SERVER_HOST" value="45.121.163.23"/>
    <add key="MAIL_USER" value="admin@smtp.icsoft.vn"/>
    <add key="MAIL_PASS" value="qaz@123456"/>
    <add key="MAIL_DOMAIN" value="smtp.icsoft.vn"/>
    <add key="MAIL_URLBASE" value=""/>
    
    <add key="AWS_MAIL_USER" value="AKIAI5WJ6OPJHGQGN4EQ"/>
    <add key="AWS_MAIL_PASS" value="AsX78M4WAtJS+h0Pyphr+LpgZ2VcP62Aegbu3paXFxkO"/>
    <add key="AWS_MAIL_SERVER_HOST" value="email-smtp.us-east-1.amazonaws.com"/>
    <add key="USING_AWS" value="1"/>

    <add key="FormTitle" value="LuatVietNam: Send message"/>
    <add key="MaxRow" value="300"/>
    <add key="SleepTime" value="10000"/>

    <add key="ENABLE_SEND_MESSAGE" value="1"/>
    

  </appSettings>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
