<appSettings>
  <!--<add key="CMS_CONSTR" value="Data Source=103.3.252.25;Initial Catalog=LawCMS;Persist Security Info=True;User ID=luatvn;Password=dsf432432@21;" />
  <add key="CONNECTION_STRING" value="Data Source=103.3.252.25;Initial Catalog=LawCMS;Persist Security Info=True;User ID=luatvn;Password=dsf432432@21;" />-->

  
  

  <!--<add key="CMS_CONSTR" value="Data Source=45.121.163.6;Initial Catalog=TinNongCMS;Persist Security Info=True;User ID=TinNongCMS;Password=dsf432432@21;" />
  <add key="CONNECTION_STRING" value="Data Source=45.121.163.6;Initial Catalog=TinNongCMS;Persist Security Info=True;User ID=TinNongCMS;Password=dsf432432@21;" />-->

  <!--<add key="CMS_CONSTR" value="Data Source=123.31.40.51;Initial Catalog=TinNongCMS;Persist Security Info=True;User ID=TinNongCMS;Password=dsf432432@21;" />
    <add key="CONNECTION_STRING" value="Data Source=123.31.40.51;Initial Catalog=TinNongCMS;Persist Security Info=True;User ID=TinNongCMS;Password=dsf432432@21;" />-->
 <add key="CMS_CONSTR" value="Data Source=172.16.0.25\MSSQL2012DEV;Initial Catalog=LuatVietNamCMS;Persist Security Info=True;User ID=dev;Password=Ved123$%^;" />
    <add key="CONNECTION_STRING" value="Data Source=172.16.0.25\MSSQL2012DEV;Initial Catalog=LuatVietNamCMS;Persist Security Info=True;User ID=dev;Password=Ved123$%^;" />
    <add key="DOC_CONSTR" value="Data Source=172.16.0.25\MSSQL2012DEV;Initial Catalog=LuatVietNamDocs;Persist Security Info=True;User ID=dev;Password=Ved123$%^;" />
    <add key="CUSTOMER_CONSTR" value="Data Source=172.16.0.25\MSSQL2012DEV;Initial Catalog=LuatVietNamCMS;Persist Security Info=True;User ID=dev;Password=Ved123$%^;" />
    <add key="EXT_CONSTR" value="Data Source=172.16.0.25\MSSQL2012DEV;Initial Catalog=LuatVietNamExt;Persist Security Info=True;User ID=dev;Password=Ved123$%^;" />
  <!--
  <add key="CMS_CONSTR1" value="server=210.211.97.174;uid=lichvansu;pwd=lichic2014;database=CommonCMS;"/>
  <add key="CMS_CONSTR" value="Data Source=103.3.252.25;Initial Catalog=LawCMS;Persist Security Info=True;User ID=luatvn;Password=dsf432432@21;" />
  <add key="CONNECTION_STRING_LICH" value="Data Source=210.211.97.174;Initial Catalog=lichvansu;Persist Security Info=True;User ID=lichvansu;Password=lichic2014" />
  <add key="CONNECTION_STRING" value="Data Source=210.211.97.174;Initial Catalog=CommonCMS;Persist Security Info=True;User ID=lichvansu;Password=lichic2014" />
  <add key="CONNECTION_STRING1" value="Data Source=103.3.252.25;Initial Catalog=LawCMS;Persist Security Info=True;User ID=luatvn;Password=dsf432432@21;" />
  <add key="DOC_CONSTR" value="Data Source=103.3.252.25;Initial Catalog=LawDocs;Persist Security Info=True;User ID=luatvn;Password=dsf432432@21;" />
  <add key="CUSTOMER_CONSTR1" value="Data Source=103.3.252.25;Initial Catalog=LawCMS;Persist Security Info=True;User ID=luatvn;Password=dsf432432@21;" />
  <add key="CUSTOMER_CONSTR" value="server=210.211.97.174;uid=lichvansu;pwd=lichic2014;database=CommonCMS;" />
  <add key="DISPLAY_CONNECTION_STRING" value="Data Source=103.3.252.25;Initial Catalog=LawCMS;Persist Security Info=True;User ID=luatvn;Password=dsf432432@21;" />
  -->
  <!--
  <add key="ARTICLES_CONSTR" value="server=103.3.252.184;uid=lichvansuCms;pwd=lichic2014;database=CommonCMS;Max Pool Size=200"/>
		<add key="CUASOMOI_CONNECTION_STRING" value="server=115.84.179.48;uid=cuasomoi;pwd=csmTtN;database=CuaSoMoi;" />
		<add key="LICHVANSU_CONNSTR" value="server=103.3.252.184;uid=lichvansudev;pwd=lvs@1q2w$56;database=lichvansu;"/>
		<add key="LICHVANSU_CONNECTION_STRING" value="server=103.3.252.184;uid=lichvansudev;pwd=lvs@1q2w$56;database=lichvansu;"/>
    <add key="CUSTOMER_CONSTR" value="server=103.3.252.184;uid=lichvansuCms;pwd=lichic2014;database=CommonCMS;Max Pool Size=200"/>
    <add key="CONNECTION_STRING" value="server=103.3.252.184;uid=lichvansuCms;pwd=lichic2014;database=CommonCMS;Max Pool Size=200"/>-->
  
  <add key="PRIVATE" value="1" />
  <add key="PUBLIC" value="2" />
  <add key="PRIVATE_AND_PUBLIC" value="3" />
  <add key="PRIVATE_PUBLIC" value="1" />
  <add key="PREFIXID" value="" />
  <add key="COOKIESID" value="COOKIESID" />
  <add key="DURATION_TIMEOUT" value="120" />
  <add key="ROOT_PATH" value="/" />
  <add key="WEBSITE_DOMAIN" value="http://luatvietnam.com/" />
  <add key="WEBSITE_IMAGEDOMAIN" value="http://cms.luatvietnam.vn/" />
  <add key="WEBSITE_MEDIADOMAIN" value="http://cms.luatvietnam.vn/" />
  <add key="WEBSITE_TITLE" value="Luat Viet Nam" />
  <add key="WEBSITE_DESC" value="Luat Viet Nam" />
  <add key="WEBSITE_DESCREPRACE" value="$1, luatvietnam.vn" />
  <add key="WEBSITE_KEYWORD" value="Luat Viet Nam" />
  <add key="MEDIA_FOLDER" value="E:\Projects\2017\luatvietnamv2\Code\CMS\CMSAppForm\Uploaded\" />
  <add key="DirectoryPath" value="uploaded/"/>
  <add key="LAWS_TVPL" value="1" />
  <add key="LAWS_BTHL" value="2" />
  <add key="DATATYPE_LEGAL_DOCUMENTS" value="2" />
  <add key="UPLOAD_PATH" value="/uploaded/" />
  <add key="LogOnline" value="0" />

  <add key="MEDIA_PATH" value="uploaded/" />
  <add key="DATATYPE_ARTICLES" value="1" />
  <add key="DOC_PAYMENTTYPES" value="5"/>
  <add key="PAGESIZE_FIELDS_JSON" value="10"/>
  <add key="PAGESIZE_ORGANS_JSON" value="10"/>
  <add key="REVIEWSTATUSID" value="2"/>
  
  <add key="ENABLE_IMG_EXTENSION" value=".jpeg,.jpg,.png,.gif"></add>
  <add key="SMTP_HOST" value="mail.broadband.vn" />
  <add key="SMTP_PORT" value="25" />
  <add key="MAIL_ADDR" value="support@greatsale.vn" />
  <add key="MAIL_SERVER_HOST" value="smtp.gmail.com" />
  <add key="MAIL_USER" value="huyhtic@gmail.com" />
  <add key="MAIL_PASS" value="huyht!@#(*)" />
  <add key="MAIL_DOMAIN" value="gmail.com" />
  <add key="MAIL_PORT" value="587" />
  <!--> add Media width-->
  <add key="MEDIA_THUMNAIL_WIDTH" value="93" />
  <add key="MEDIA_THUMNAIL_HEIGHT" value="60" />
  <add key="MEDIA_WIDTH" value="465" />
  <add key="MEDIA_HEIGHT" value="325" />
  <add key="MEDIA_MOBILE_WIDTH" value="362" />
  <add key="MEDIA_MOBILE_HEIGHT" value="235" />
  <add key="MEDIA_ICON_WIDTH" value="60" />
  <add key="MEDIA_ICON_HEIGHT" value="60" />
  
  <!--> add MEDIADATA-->
  <!--New-->
  <add key="DOC_BASE" value="1" />
  <add key="PAGESIZE_GET_TOP_BY_IDENTITY" value="100" />
  <add key="PAGESIZE_FIELDS_JSON" value="15" />
  <add key="PAGESIZE_ORGANS_JSON" value="15" />
  <add key="PAGESIZE_SIGNERS_JSON" value="15" />
  <add key="DOC_EXPIRED" value="2" />
  <add key="DOC_PARTEXPIRED" value="7" />
  <add key="DOC_MODIFY" value="4" />
  <add key="DOC_GUIDE" value="3" />
  <add key="DOC_REF" value="5" />
  <add key="DOC_REL" value="6" />
  <add key="DOC_MER2" value="20" />
  <add key="DOC_MER" value="9" />
  <add key="DOC_MERS" value="10" />
  <add key="DOC_MERS2" value="25" />
  <add key="DOC_CORRECTION" value="8" />
  <add key="DOC_SUSPEND" value="11" />
  <add key="DOC_SUSPENDONE" value="12" />
  <!-- Logs -->
  <add key="LOG_FILE_PATH" value="E:\Logs\LuatVietNam\"/>
  <add key="LogFilesName" value="Log"/>
  <add key="IsLOG" value="1"/>
  
  <!-- Process Doc Auto -->
  <add key="ROOTFOLDER" value="E:\Projects\2017\luatvietnamv2\Code\App\TempLawData\"/>
  <add key="CompleteOutputFolder" value="E:\Projects\2017\luatvietnamv2\Code\App\CompleteData\"/>
  <add key="ErrorOutputFolder" value="E:\Projects\2017\luatvietnamv2\Code\App\ErrorData\"/>
  <!-- Sync Doc File -->
  <add key="SyncFileEnable" value="1" />
  <add key="SyncFileRemoteHost" value="127.0.0.1" />
  <add key="SyncFileRemotePort" value="8688" />
  
    <add key="ZALOPAY_PAY_URL" value="https://stggateway.zalopay.vn/pay?order=" />
    <add key="ZALOPAY_QUERY_URL" value="https://stg.zalopay.com.vn/v001/tpe/getstatusbyapptransid" />
  <add key="ZALOPAY_REFUND_URL" value="https://stg.zalopay.com.vn/v001/tpe/partialrefund" />
    <add key="ZALOPAY_KEY1" value="Ft8CGjIJX55QLf6PoTmxDxy4jOpXYUG0" />
    <add key="ZALOPAY_KEY2" value="dScodSWnTYNmCL1XuaHKEDRsg8E1RHvg" />
    <add key="ZALOPAY_APPID" value="104" />
  
</appSettings>