<rewriter>
  <rewrite url="~/tai-file-([a-zA-Z0-9_\-]+)-([0-9]+)-d([0-9])/(.+).aspx$" to="~/Download.aspx?file=$4&amp;filename=$1&amp;DocId=$2" processing="stop" />
  <rewrite url="~/xem-file-([a-zA-Z0-9_\-]+)-([0-9]+)-d([0-9])/(.+).aspx$" to="~/ViewPdf.aspx?file=$4&amp;filename=$1&amp;DocId=$2" processing="stop" />
  <rewrite url="~/tai-file-([a-zA-Z0-9_\-]+)-([a-f0-9]+)/(.+).aspx$" to="~/Download.aspx?file=$3&amp;filename=$1&amp;DocHexId=$2" processing="stop" />
  <rewrite url="~/xem-file-([a-zA-Z0-9_\-]+)-([a-f0-9]+)/(.+).aspx$" to="~/ViewPdf.aspx?file=$3&amp;filename=$1&amp;DocHexId=$2" processing="stop" />
  <rewrite url="~/Ban-Tin-Van-Ban-Hang-Tuan-So-([0-9]+).jpg" to="~/LogViewEmailNewsLetter.aspx?id=$1" processing="stop" />
  <rewrite url="~/Ban-Tin-Hieu-Luc-So-([0-9]+).jpg" to="~/LogViewEmailNewsLetter.aspx?id=$1&amp;NesTypeId=1" processing="stop" />
  <rewrite url="~/Legal-Update-No-([0-9]+).gif" to="~/LogViewEmailNewsLetter.aspx?id=$1&amp;NesTypeId=2" processing="stop" />
  <rewrite url="~/logo-([0-9]+)-([0-9]+).png" to="~/LogViewEmailNewsLetter.aspx?id=$1&amp;CampaignId=$2&amp;NesTypeId=3" processing="stop" />
</rewriter>
