@media (max-width: 1024px) {
    .dropbtn {
        float: right;
        padding: 0;
        text-indent: 15px;
    }

    .item-checkbox.p5 {
        padding-top: 10px;
    }

    .right-tim-kiem {
        float: left;
        width: 100%;
    }
    .thumb-full.h90 {
        height: 75px;
    }
}

@media (max-width: 980px) {
    .main-content {
        width: 96%;
    }
    .thumb-full.boder512 {
        height: 140px;
    }
    .menu-icon-sammo {
        display: block;
    }
    .row-tim-kiem{ margin-bottom: 5px;} 
    .box-tieudiem {
        width: 21%;
    }
    .sidebar-240 {
        width: 100%;
        margin-left: 0;
        display: none;
    }

    .sidebar-270 {
        width: 30%;
    }

    .content {
        width: 67%;
    }
    .ads img {
        float: none;
    }
    .content-left {
        width: 67%;
    }
    .thumb-full-new.pldn {
        width: 140px;
        margin-right: 10px;
    }
    .thumb-full.heightimg {
        height: 100px;
    }
  
    /* Bengin search */
    .select-nang-cao {
        float: left;
        width: 48%;
        margin: 1%;
    }

    .tabtitle {
        height: auto;
    }
    /* End search */
    .top-right {
        width: auto;
        position: absolute;
        right: 10px;
    }

    .mobi {
        display: none !important;
    }

    .dropdown-menu.fixmobi {
        float: right;
        right: -10px !important;
        width: 270px !important;
    }

    .tag-item {
        margin-bottom: 5px;
    }

    .share-noidung {
        float: left;
        margin: 10px 0;
        width: 100%;
    }

    .col-thuoctinh {
        width: 100%;
    }

    .boxcontent.p20 {
        width: 93%;
    }

    .dropbtn.page2 {
        margin-right: 0;
    }

    .right-tim-kiem.page2 {
        width: 100%;
    }

    .loctimkiem {
        float: left;
        width: 100%;
        font-size: 13px;
        font-weight: bold;
        margin-left: 0;
    }

    .tile-tim-kiem {
        float: left;
        font-weight: bold;
        width: 100%;
        margin-bottom: 0;
    }

    .text-label {
        width: 100%;
    }

    .text-input-right {
        width: 100%;
    }

    .select-nang-cao-page {
        margin-bottom: 5px;
    }

    .text-calendar {
        width: 100%;
        margin-top: 0;
    }

    .example-search.pagetk {
        width: 100%;
    }

    .rows.search {
        width: 100%;
    }

    .btn-default.btnsearch.pagetk {
        float: right;
        margin-top: 10px;
    }

    .dropbtn {
        float: left;
        padding: 0;
        text-indent: 15px;
        margin-top: -25px;
    }

    .ttcn-nav {
        float: left;
        width: 26%;
    }

    .ttcn-content {
        float: left;
        width: 70%;
    }

    .item-col4-fix {
        width: 45%;
        margin-right: 3%;
        margin-bottom: 10px;
        float: left;
    }

    .thongbaotn {
        float: left;
        width: 100%;
    }

    .time-tinnhan {
        width: 100%;
    }

    .time-hd {
        float: right;
        width: auto;
        line-height: normal;
        margin-left: 10px;
    }

    .box-mail {
        float: left;
        width: 87%;
        padding: 15px;
    }

    .dropdown-search.fixwg {
        width: 100%;
    }

    .content-dangkytk {
        width: 100%;
    }
    

.rowld { padding: 0;}
.frm-pdf { width: 100%;height:850px !important;}
}

@media (max-width: 800px) {
    body {
        font-size: 16px;
    }
    .post-title-news{ font-size: 16px;font-weight: bold;}
    .thumb-full.boder5.h247{ height: auto;}
    .thumb-full.boder512 {
        height:80px;
    }.post-title {
         float: none;
     }.post-title a {
          float: none;
      }
    .thumb-full.h124 {
        height: auto;
    }
    .share-items {
        float: left;
        margin-left: 0;
        margin-right: 7%;
    }
    /* Bengin container */
   
    .yeucauvanbanbtn {
        font-size: 14px;     text-indent: 30px;
    }
   
    .main-content {
        width: auto;
        padding: 0 10px;
    }
    .xinchao {
        display: none;
    } .img-user {
        display: block;
        margin-top: 13px;
        margin-bottom: 13px;
    }
    .text-user {
        display: none;
    } .content-scroll-1.fixheight {
        max-height: 390px;
    }
 
    #mucluc {
        width: auto;
        position: relative;
        top: auto;
    }
   
    .item-col2 {
        width: 100%;
        margin-right: 0; margin-bottom: 20px;
    }

    .item-col3 {
        width: 100%;
        margin-right: 0;
    }

    img.thumb-full.h210 {
        height: 80px;
    }
    .item-col4 {
        width: 100%;
        margin-right: 0;
    }
    /* End */
    .tag-item {
        font-size: 15px;
        margin-right: 25px;
    }

    .nav-wg-item {
        font-size: 16px;
    }

    .nav-wg-item2 {
        font-size: 16px !important;
    }

    .widget-title.cat {
        font-size: 16px !important;
    }

    .tab-item-tab-2 {
        font-size: 16px !important;
    }

    .p20px {
        padding: 10px;
    }

    .vbccu {
        font-style: italic;
    }

    .tie-drop {
        font-size: 16px !important;
    }

    .post-title.font20 {
        font-weight: bold;
        font-size: 20px !important;
    }

    .post-title.font14 {
        padding: 6px 0;
    }

    .post-title {
        font-size: 16px !important;
    }

    .list-mluc {
        font-size: 16px !important;
    }

    .tab-noidung {
        line-height: 36px;
        font-size: 16px;
    }

    .item-user1.font13 {
        font-size: 14px !important;
    }

    .item-gt {
        font-size: 14px;
    }

    .title-2.font15 {
        font-size: 16px !important;
    }

    .post-thumbnail-370 {
        width: 130px;
    }

    .title.fix {
        margin-top: 20px;
    }

    .title-phaply {
        font-weight: normal;
        font-size: 16px;
    }

    .post-title.ply {
        line-height: normal;
        font-weight: bold;
    }

    .listpl {
        padding: 5px 0;
    }

    .m-hiden {
        display: none;
    }

    .tab-noidung-item {
        float: none;
    }

    .dropdown-menu.fix2 {
        margin-right: -10px;
    }

    .iconview {
        float: right;
    }

    .rows.search.v1 {
        width: 100%;
    }

    .item-col2.btom1 {
        margin-bottom: 10px;
    }

    .dky-khuyenmai {
        margin-bottom: 10px;
    }

    .tab-1 {
        width: 100%;
    }

    .r-ttcn {
        padding-bottom: 10px;
    }


    .boxcontent.p20 {
        padding: 15px;
        width: auto;
        float: left;
    }

    .thumb-full-new.fixmobi {
        display: none;
    }

    .iconlistnew.fixmobi {
        display: block;
    }

    .row-fix {
        float: left;
        margin-bottom: 0;
        width: 100%;
        border-bottom: 0;
        padding-bottom: 0;
    }

    /*.iconlistnew {
        margin-top: 7px;
    }*/

    .list-new {
        line-height: 22px;
    }

    .post-title.fixmobi {
        font-size: 16px !important;
        font-weight: bold;
    }

    .post-thumbnail.fixmobi {
        width: 120px;
        margin-right: 10px;
    }

    .post-meta.m5.fixmobi {
        padding-top: 0;
        float: none;
        width: auto;
    }

    .item-col3.fixmobi {
        margin-bottom: 5px;
    }

        .item-col3.fixmobi.khac {
            margin-bottom: 15px;
        }

    .titlesapo {
        float: none;
        width: auto;
        margin-top: 0;
    }

    .post-thumbnail.fixmobi.khac {
        margin-bottom: 10px;
    }

    .post-thumbnail.hidenimg {
        display: none;
    }

    .rows.search {
        width: 100%;
    }

    .cat-box-section {
        margin-bottom: 10px;
    }

    .header-content {
        margin-bottom: 10px;
    }

    .w300 {
        width: 265px;
    }

    .title-from {
        padding-top: 10px;
    }

    .item-col3.fixluocdo {
        width: 100%;
        margin-right: 0;
    }

    .ttcn-nav {
        float: left;
        width: 100%;
        margin-bottom: 15px;
    }

    .ttcn-content {
        float: left;
        width: 100%;
    }

    .padding-right {
        padding-right: 0;
    }

    .item-col2-ds {
        width: 100%;
        margin-bottom: 10px;
    }

    .icondoi {
        width: 100%;
        margin-bottom: 5px;
        height: auto;
        line-height: normal;
    }
    .chon-lv{margin-top: 0;
        width: 120px;
        margin: auto;}
    .pfix {
        float: left;
        margin-right: 30px;
    }
    .wrapper {
        width: 90%;
    }

    .content-up {
        padding: 15px;
    }

    .footer-content {
        margin-top: 0;
    }

    .iconchitiet img {
        height: 30px;
    }

    .icongopy {
        height: 30px;
    }

    #example-gopy .tooltipgopy:hover .bggopy {
        margin-left: -15px;
    }

    .singer.chitiet {
        width: 100%;
    }

    .box-tieudiem {
        width: 100%;
        margin-left: 0;
        margin-bottom: 25px;
    }

    .icondoi img {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }

    .tab-item-1 {
        font-size: 18px;
    }

    .vien-btom {
        margin-bottom: 30px;
    }

    .list-new.hiden {
        display: none;
    }
    
    .wg-tieudiem.td-fixed {
        position: relative;
        width: 100%;
        top: auto;
        border: solid 0 #cdcdcd;
        background: none;
    }
    .post-thumbnail.bt10 img {
    height: auto;
}
    .logo {
        font-size: 18px;
        color: #fff;
        font-weight: bold;
        width: 200px;
        position: absolute;
        margin: auto;
        right: 0;
        left: 0;
    }
}

    @media only screen and (max-width: 640px) {
        .inputsearch404 {
            float: left;
            background: #fff;
            height: 34px;
            width: 86%;
        }
        .search404bg {
            float: left;
            background: #0089d0;
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
            border-radius: 6px;
        }
        .share-items.mluc2 {
            margin-left: 10px;
        }
        .thumb-full.boder5.h270 {
            height: 80px;
        }.post-thumbnail-270 {
             width: 130px;
         }
        .yeucauvanbanbtn {
            font-size: 18px; text-indent: 0;
        }

        .mucluc {
            display: block;
        }

        #mucluc {
            display: none;
        }

        .share-noidung.scrolltop-mobi {
            background: #fff;
            margin: 0;
            padding: 10px;
            left: 0;
            right: 0;
            border-bottom: solid 1px #e3e3e3;
        }

        .btn-default.btnsearch {
            width: 120px;
        }

        .p20pldn {
            padding: 10px;
        }

        .content {
            width: 100%;
        }

        .slogan {
            float: left;
            width: 100%;
            margin-bottom: 10px;
        }

        .right-view {
            position: absolute;
            right: 10px;
        }

        .content-left {
            width: 100%;
        }

        .sidebar-270 {
            float: left;
            width: 100%;
        }

        #load-btn {
            font-size: 16px;
        }

        .pure-checkbox.quantam {
            margin-bottom: 10px;
            width: 100%;
            margin-right: 0;
        }

        .item-col3.fixluocdo:nth-child(3n+3) {
            margin-right: 0;
        }

        .loadmore {
            margin-bottom: 15px;
        }

        .new-left {
            float: left;
            width: 100%;
        }

        .post-thumbnail-270 {
            width: 140px;
        }

        .new-right {
            float: left;
            width: 100%;
        }

        .vnlq2 {
            float: left;
            width: 100%;
            margin-bottom: 5px;
        }

        .vnlq1 {
            width: 100%;
        }

        .right-view-s2 {
            float: left;
            width: 100%;
        }

        .sapo.hidenmobi {
            display: none;
        }

        .post-title-first.font1 {
            font-size: 20px;
            line-height: normal;
            font-weight: normal;
        }
        .post-title-first.font2 {
            font-size: 18px;
            line-height: normal;
            font-weight: normal;
        }
        .footer-content {
            padding-bottom: 0;
        }

        .post-title-first.font2 {
            font-size: 16px;
            font-weight: normal;
        }

        .item-col4-fix {
            width: 100%;
            margin-right: 0;
        }

        .item-tn2 {
            margin-top: 10px;
            width: 100%;
            text-align: left;
            text-indent: 30px;
        }

        .item-tn1 {
            float: left;
            width: 100%;
        }

        .pure-checkbox.itemltn {
            float: left;
            margin-right: 0;
        }

        .xinchao {
            display: none;
        }

        .btn-default.ply {
            margin-right: 22%;
        }

        .tab-item-tab-82 {
            font-size: 16px;
        }

        .example-search.edit {
            width: 82%;
            margin-right: 2%;
        }

        .tag-loc.font13 {
            font-size: 15px !important;
        }

        .btn-default.apdung {
            font-size: 15px;
        }

        .btn-default.edit {
            padding: 0 15px;
            width: auto;
        }

        .hidenm {
            display: none;
        }

        .iconsearchmobi {
            display: block;
        }

        .lienketvb {
            display: none;
        }

        .frm-pdf {
            width: 100%;
            height: 500px !important;
        }
    }

    @media (max-width: 480px) {
        /* Bengin search */
        .example-search {
            width: 100%;
            margin-right: 0;
        }
        .title-cat-page {
            width: 84%;
        } .select-nang-cao {
            float: left;
            width: 100%;
            margin-right: 0;
        }

        .btn-default.btnsearch {
            float: right;
            margin-top: 10px;
        }

        .example-search.pagetk {
            width: 100%;
        }
        /* End search */

        .frm-pdf {
            width: 100%;
            height: 500px !important;
        }
    }

    @media (max-width: 360px) {
    }

    @media (max-width: 320px) {
        .socal-post.chitiet {
            float: left;
            width: 100%;
            margin-bottom: 10px;
        }

        .post-times.chitiet {
            float: left;
            width: 100%;
        }
    }
