<!--Bengin cat-box content-wrap-->
    <div class="box-vblienquan">
        <!--Bengin aside-->
        <aside class="sidebar-nav page">
            <!--Bengin widget-->
            <div class="widget widget_categories">
                <div class="widget-top">
                    <span class="title-widget">Danh mục nội dung liên quan</span>
                </div>
                <div class="widget-nav">
                    <div class="categories-sub">
                        <div class="nav-item-page">
                            <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="fontpage active">Tất cả <span class="colora67942">(40)</span></a>
                        </div>
                        <div class="nav-item-page">
                            <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="fontpage">Văn bản sửa đổi <span class="colora67942">(15)</span></a>
                        </div>
                        <div class="nav-item-page">
                            <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="fontpage">Văn bản gốc (3)</a>
                        </div>
                        <div class="nav-item-page">
                            <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="fontpage">Văn bản căn cứ (2)</a>
                        </div>
                        <div class="nav-item-page">
                            <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="fontpage">Văn bản dẫn chiếu (5)</a>
                        </div>

                    </div>
                    <p style="padding: 10px 0; color: #a67942; float: left; width: 100%; font-style: italic; font-size: 12px; line-height: 24px;">Ghi chú: Sắp xếp hiển thị nội dung liên quan theo thứ tự ưu tiên từ trên xuống từ mục 2 đến mục 4.</p>
                </div>
            </div>
            <!--End widget-->
        </aside>
        <!--End aside-->
        <!--Bengin content-page-right-->
        <div class="content-page-right">
            <div class="rows item3">
                <div class="lef-vb1">
                    <span style="color: #a67942; text-transform: uppercase;">Danh mục đang xem: </span>
                    <span style=" font-weight: bold;"><img class="icondangxem" alt="icondangxem" src="./TCVNLienQuan_files/dang-xem.png">Tất cả (15)</span>
                </div>
                <div class="right-vb1 center">
                    <span style="font-weight: bold;">Loại văn bản</span>
                </div>
            </div>
            <div class="cat-box-content">
                <table class="table table-bordered">
                    <tbody>
                        <tr class="row-first-news">
                            <th class="count-123" scope="row">01</th>
                            <td class="post-col1">
                                <h2>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="post-title lvn">
                                        Thông tư 02/2017/TT-TANDTC của Tòa án nhân dân tối cao về việc ban hành Quy chế tổ chức phiên tòa
                                    </a>
                                </h2>
                                <div class="item-meta">
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Tóm tắt</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Lược đồ</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Hiệu lực</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Liên quan</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Tiếng anh</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Tải về</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="icon-save"></a>
                                </div>
                            </td>
                            <td class="post-col2">
                                <p class="post-time"> Ban hành: <span class="color2">23/05/2017</span></p>
                                <p class="post-time"> Áp dụng: <span class="color2">23/06/2017</span></p>
                                <p class="post-time bottom0"> Hiệu lực: <span class="color2">Còn hiệu lực</span> </p>
                            </td>
                            <td class="post-col2">
                                Hướng dẫn và được hướng dẫn
                            </td>
                        </tr>
                        <tr class="row-first-news bgcolor">
                            <th class="count-123" scope="row">02</th>
                            <td class="post-col1">
                                <h2>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="post-title lvn">
                                        Thông tư 02/2017/TT-TANDTC của Tòa án nhân dân tối cao về việc ban hành Quy chế tổ chức phiên tòa
                                    </a>
                                </h2>
                                <div class="item-meta">
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Tóm tắt</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Lược đồ</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Hiệu lực</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Liên quan</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Tiếng anh</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Tải về</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="icon-save"></a>
                                </div>
                            </td>
                            <td class="post-col2">
                                <p class="post-time"> Ban hành: <span class="color2">23/05/2017</span></p>
                                <p class="post-time"> Áp dụng: <span class="color2">23/06/2017</span></p>
                                <p class="post-time bottom0"> Hiệu lực: <span class="color2">Còn hiệu lực</span> </p>
                            </td>
                            <td class="post-col2">
                                Hướng dẫn và được hướng dẫn
                            </td>
                        </tr>
                        <tr class="row-first-news">
                            <th class="count-123" scope="row">03</th>
                            <td class="post-col1">
                                <h2>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="post-title lvn">
                                        Quyết định 236/QĐ-UBDT của Ủy ban Dân tộc - Về việc ban hành Chương trình hành động thực hiện. Quyết định 236/QĐ-UBDT của Ủy ban Dân tộc - Về việc ban hành Chương trình hành động thực hiện. Về việc ban hành Chương trình hành động thực hiện, về việc ban hành Chương trình hành động thực hiện, Về việc ban hành Chương trình hành động thực hiện ban hành Chương trình.
                                    </a>
                                </h2>
                                <div class="item-meta">
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Tóm tắt</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Lược đồ</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Hiệu lực</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Liên quan</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Tiếng anh</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Tải về</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="icon-save"></a>
                                </div>
                            </td>
                            <td class="post-col2">
                                <p class="post-time"> Ban hành: <span class="color2">23/05/2017</span></p>
                                <p class="post-time"> Áp dụng: <span class="color2">23/06/2017</span></p>
                                <p class="post-time bottom0"> Hiệu lực: <span class="color2">Còn hiệu lực</span> </p>
                            </td>
                            <td class="post-col2">
                                Hướng dẫn và được hướng dẫn
                            </td>
                        </tr>
                        <tr class="row-first-news bgcolor">
                            <th class="count-123" scope="row">04</th>
                            <td class="post-col1">
                                <h2>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="post-title lvn">
                                        Thông tư 02/2017/TT-TANDTC của Tòa án nhân dân tối cao về việc ban hành Quy chế tổ chức phiên tòa
                                    </a>
                                </h2>
                                <div class="item-meta">
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Tóm tắt</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Lược đồ</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Hiệu lực</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Liên quan</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Tiếng anh</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Tải về</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="icon-save"></a>
                                </div>
                            </td>
                            <td class="post-col2">
                                <p class="post-time"> Ban hành: <span class="color2">23/05/2017</span></p>
                                <p class="post-time"> Áp dụng: <span class="color2">23/06/2017</span></p>
                                <p class="post-time bottom0"> Hiệu lực: <span class="color2">Còn hiệu lực</span> </p>
                            </td>
                            <td class="post-col2">
                                Hướng dẫn và được hướng dẫn
                            </td>
                        </tr>
                        <tr class="row-first-news">
                            <th class="count-123" scope="row">05</th>
                            <td class="post-col1">
                                <h2>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="post-title lvn">
                                        Quyết định 236/QĐ-UBDT của Ủy ban Dân tộc - Về việc ban hành Chương trình hành động thực hiện. Quyết định 236/QĐ-UBDT của Ủy ban Dân tộc - Về việc ban hành Chương trình hành động thực hiện. Về việc ban hành Chương trình hành động thực hiện, về việc ban hành Chương trình hành động thực hiện, Về việc ban hành Chương trình hành động thực hiện ban hành Chương trình.
                                    </a>
                                </h2>
                                <div class="item-meta">
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Tóm tắt</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Lược đồ</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Hiệu lực</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Liên quan</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Tiếng anh</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="tag-item item7">Tải về</a>
                                    <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="icon-save"></a>
                                </div>
                            </td>
                            <td class="post-col2">
                                <p class="post-time"> Ban hành: <span class="color2">23/05/2017</span></p>
                                <p class="post-time"> Áp dụng: <span class="color2">23/06/2017</span></p>
                                <p class="post-time bottom0"> Hiệu lực: <span class="color2">Còn hiệu lực</span> </p>
                            </td>
                            <td class="post-col2">
                                Hướng dẫn và được hướng dẫn
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!--Bengin pagination -->
            <div class="pagination">
                <div class="pagination-left">
                    <span class="text-pagination">Hiển thị:</span>
                    <div class="select-pagination">
                        <div class="dropdown10">
                            <span class="old">
                                <select tabindex="1" class="" id="EasyDropDown0FB307">
                                    <option value="0">10 kết quả</option>
                                    <option value="1">10 kết quả</option>
                                    <option value="2">10 kết quả</option>
                                    <option value="3">10 kết quả</option>
                                </select>
                            </span><span class="selected">10 kết quả</span><span class="carat"></span><div><ul><li class="active">10 kết quả</li><li>10 kết quả</li><li>10 kết quả</li><li>10 kết quả</li></ul></div>
                        </div>
                    </div>
                </div>
                <div class="pagination-right">
                    Trang<input class="input-page-item" value="4">của 192
                    <div class="load-more">
                        <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="load-more-item x1"></a>
                        <a href="http://45.121.163.10/mbd/luatvietnam/28-1-van-ban-hop-nhat-lien-quan.html#" class="load-more-item x2"></a>
                    </div>
                </div>
            </div>
            <!--End pagination -->
        </div>
        <!--End content-page-right-->
    </div>
<!--End cat-box content-wrap-->