@using LawsVN.App_GlobalResources
@model LawsVN.Models.Account.AccountProfileModel
<div class="rows item6">
    <span class="hten">Họ và tên:</span> <strong>@LawsUser.CustomerFullName</strong>
</div>
<div class="rows item6">
    <span class="hten">Email:</span> <strong>@LawsUser.CustomerMail</strong>
</div>
<div class="rows item6">
    <span class="hten">Điện thoại: </span><strong>@LawsUser.CustomerMobile </strong>
</div>
@Ajax.ActionLink(@"Sửa thông tin", "RenewalOfServiceAccountProfileSwitchMode", "Ajax"
    , new
    {
        mode = "edit"
    }
    , new AjaxOptions
    {
        HttpMethod = "Post"
        ,UpdateTargetId = "nang-cap-dich-vu-thong-tin-ca-nhan"
        ,InsertionMode = InsertionMode.Replace
        ,OnBegin = "lawsVn.ajaxEvents.OnBegin"
        ,OnComplete = "lawsVn.ajaxEvents.OnComplete"
        ,OnSuccess = "lawsVn.ajaxEvents.OnSuccessValid('RenewalOfServiceEditAccountProfileForm')"
    }, new { @class = "edit-thong-tin", title= Resource.EditInformation })