<footer class="theme-footer">
    <div class="footer-item">
        <div class="fditem1"><i class="fa-i1"></i>(04) 37833688</div>
        <div class="fditem1"><i class="fa-i2"></i>lawdata@luatvietnam.vn</div>
      
    </div>
    <div class="footer-item">
        <div class="fditem1"><i class="fa-i3"></i>016 9696 8989</div>
        <div class="fditem1">
            <a href="#" class="fb1"></a>
            <a href="#" class="fb2"></a>
            <a href="#" class="fb3"></a>
            <a href="#" class="fb4"></a>
        </div>
    </div>
    <div class="footer-item copyr">Bản quyền © 2000-@DateTime.Now.Year bởi LuatVietNam</div>

</footer>
<div class="backtop"><a href="#" class="iconbacktop"></a></div>