<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="DOC_CONSTR" value="Data Source=172.16.0.25\MSSQL2012DEV;Initial Catalog=LuatVietNamDocs;Persist Security Info=True;User ID=dev;Password=Ved123$%^;" />
    <add key="LOG_DIR" value="1"/>
    <add key="MAX_SIZE_LOG_FILE" value="1024000"/>
    <add key="FormTitle" value="PhapDien Processor"/>
    <add key="TotalThread" value="1"/>
    <add key="ShowSendMessageTab" value="1"/>
    <add key="ShowSendAlertTab" value="0"/>
    <add key="UsernameSendMT" value="abc15963214789"/>
    <add key="PasswordSendMT" value="147852369xyz"/>
    <add key="MsgTypeID" value="0"/>
    <!-- Cau hinh khi chay -->
    <add key="MaxRowSendMessage" value="1"/>
    <add key="MaxRowSendMT" value="50"/>
    <add key="MaxRowSendAlert" value="5"/>
    <add key="SleepTime" value="10000"/>
    <add key="SleepTimeRow" value="50"/>
    <!--<add key="DelayTimeAlert" value="5"/>-->
    <!-- Folder -->
    
    <add key="DOCBASEFOLDER" value="vanbangoc\"/>
    <add key="APENDIXFOLDER" value="phuluc\"/>
    <add key="EXPORT_PATH" value="E:\Projects\2012\Phapdien\code\PhapDien\sites\uploaded\word\"/>
      <add key="APPENDIX_PATH" value="E:\Projects\2012\Phapdien\code\PhapDien\sites\uploaded\appendix\"/>
    
    <add key="ROOTFOLDER" value="E:\Projects\2017\luatvietnamv2\Code\App\TempLawData\"/>
    <add key="CompleteOutputFolder" value="E:\Projects\2017\luatvietnamv2\Code\App\CompleteData\"/>
    <add key="ErrorOutputFolder" value="E:\Projects\2017\luatvietnamv2\Code\App\ErrorData\"/>
      
      <add key="REPLACES" value="•$ươơ$ơơư$ơư$ươờ$ươớ$ươở$ươợ$ươỡ$-ươ$ươ;$ươ.$ươ $ươ:$ươu$ươa$ươ,"/>
    <add key="REPLACED" value="ã$ư$ư$ư$ườ$ướ$ưở$ượ$ưỡ$ươ$ư;$ư.$ư $ư:$ưu$ưa$ư,"/>

    
    <add key="PRIVATE" value="1"/>
    <add key="PUBLIC" value="2"/>
    <add key="PRIVATE_AND_PUBLIC" value="3"/>
    <add key="PRIVATE_PUBLIC" value="1"/>
    <add key="PREFIXID" value=""/>
    <add key="COOKIESID" value="COOKIESID"/>
    <add key="DURATION_TIMEOUT" value="120"/>
    <add key="ROOT_PATH" value="/"/>
    <add key="WEBSITE_DOMAIN" value="http://localhost/"/>
    <add key="WEBSITE_IMAGEDOMAIN" value="http://cxo-club.com/"/>
    <add key="WEBSITE_MEDIADOMAIN" value="/"/>
    <add key="WEBSITE_TITLE" value="CEO &amp; CIO Club"/>
    <add key="WEBSITE_DESC" value="CEO &amp; CIO Club"/>
    <add key="WEBSITE_DESCREPRACE" value="$1, cxo-club.com"/>
    <add key="WEBSITE_KEYWORD" value="CEO CIO Club"/>
    <add key="MEDIA_FOLDER" value="E:\Projects\2012\Crawler\Code\Crawler\uploaded\"/>

    <add key="UPLOAD_PATH" value="/uploaded/"/>
    <add key="LogOnline" value="0"/>

    <add key="MEDIA_PATH" value="uploaded/"/>


    <add key="ENABLE_IMG_EXTENSION" value=".jpeg,.jpg,.png,.gif"></add>
    <add key="SMTP_HOST" value="mail.broadband.vn"/>
    <add key="SMTP_PORT" value="25"/>
    <add key="MAIL_ADDR" value="support@greatsale.vn"/>
    <add key="MAIL_SERVER_HOST" value="smtp.gmail.com"/>
    <add key="MAIL_USER" value="huyhtic@gmail.com"/>
    <add key="MAIL_PASS" value="huyht!@#(*)"/>
    <add key="MAIL_DOMAIN" value="gmail.com"/>
    <add key="MAIL_PORT" value="587"/>
    <!--> add MEDIADATA-->

    <!-- view -->
    <add key="ArticleMaxItemCache" value="50"/>
    <add key="WebSiteId" value="2"/>
    <add key="SITECATEGORY_WIDTH" value="66"/>
    <add key="LanguageDir" value="languages/"/>
    <add key="NewPageSize" value="12"/>
    <!-- forum member -->
    <add key="YAF.BoardID" value="1"/>
    <add key="YAF.DatabaseObjectQualifier" value="CXO_"/>
    <add key="YAF.DatabaseOwner" value="dbo"/>
    <add key="YAF.ConnectionStringName" value="yafnet"/>
    <add key="YAF.ProviderExceptionXML" value="ProviderExceptions.xml"/>
    <add key="YAF.AppRoot" value="~/"/>
    <add key="YAF.ProviderKeyType" value="System.Guid"/>
    <add key="YAF.RoleProvider" value="YafRoleProvider"/>
    <add key="YAF.MembershipProvider" value="YafMembershipProvider"/>

    <!-- Logs -->
    <add key="LOG_FILE_PATH" value="E:\Logs\PhapDien"/>
    <add key="LogFilesName" value="Log"/>
    <add key="IsLOG" value="1"/>

    <!-- Regular Exprestion -->
    <add key="RegexRulesArticles" value="^([^\S\r\n]*Điều )([0-9]+)(\.|:|\s+|^$|\r?)split^([^\S\r\n]*Điều )(một|hai|ba|bốn|năm|sáu|bảy|bẩy|tám|chín)(\.|:|\s+|^$|\r?)split^([^\S\r\n]*Điều thứ )(nhất|một|hai|ba|bốn|tư|năm|sáu|bảy|bẩy|tám|chín|[0-9]+)(\.|:|\s+|^$|\r?)split^([^\S\r\n]*Khoản thứ )(nhất|một|hai|ba|bốn|tư|năm|sáu|bảy|bẩy|tám|chín|[0-9]+)(\.|:|\s+|^$|\r?)split^([^\S\r\n]*Khoản )(I+V+X+|I+X+V+|X+V+I+|X+I+V+|V+I+X+|V+X+I+|X+V*I+X+|X+I+V*X+|I+V+X*|I+X+V*|X+V+I*|X+I+V*|V+I+X*|V+X+I*|I+V*X*|I+X*V*|X+V*I*|X+I*V*|V+I*X*|V+X*I*)(\.|:|\s+|^$|\r?)split^([^\S\r\n]*Điều )(I+V+X+|I+X+V+|X+V+I+|X+I+V+|V+I+X+|V+X+I+|X+V*I+X+|X+I+V*X+|I+V+X*|I+X+V*|X+V+I*|X+I+V*|V+I+X*|V+X+I*|I+V*X*|I+X*V*|X+V*I*|X+I*V*|V+I*X*|V+X*I*)(\.|:|\s+|^$|\r?)split^(\s*Article )([0-9]+)(\.|:|\s+|^$|\r?)"/>
    <add key="RegexRulesArticleGroup" value="2split2split2split2split2split2split2split2split2split2split2"/>
    <add key="RegexRulesArticleMultiline" value="truesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittrue"/>
    <add key="RegexRulesArticleIgnoreCase" value="truesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittrue"/>

    <add key="RegexRulesSubSections" value="^([^\S\r\n]*Tiểu Mục )([0-9]+)split^([^\S\r\n]*Tiểu Mục )(I+V+X+|I+X+V+|X+V+I+|X+I+V+|V+I+X+|V+X+I+|X+V*I+X+|X+I+V*X+|I+V+X*|I+X+V*|X+V+I*|X+I+V*|V+I+X*|V+X+I*|I+V*X*|I+X*V*|X+V*I*|X+I*V*|V+I*X*|V+X*I*)split^([^\S\r\n]*Tiểu Mục thứ )(nhất|một|hai|ba|bốn|tư|năm|sáu|bảy|bẩy|tám|chín|[0-9]+)split^([^\S\r\n]*Tiểu Mục )([\w\s]+\s+\r?)$"/>
    <add key="RegexRulesSubSectionGroup" value="2split2split2split2split2split2split2split2split2split2split2"/>
    <add key="RegexRulesSubSectionMultiline" value="truesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittrue"/>
    <add key="RegexRulesSubSectionIgnoreCase" value="truesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittrue"/>

    <add key="RegexRulesSections" value="^([^\S\r\n]*Mục )([0-9]+)split^(Mục )(I+V+X+|I+X+V+|X+V+I+|X+I+V+|V+I+X+|V+X+I+|X+V*I+X+|X+I+V*X+|I+V+X*|I+X+V*|X+V+I*|X+I+V*|V+I+X*|V+X+I*|I+V*X*|I+X*V*|X+V*I*|X+I*V*|V+I*X*|V+X*I*)split^([^\S\r\n]*Mục thứ )(nhất|một|hai|ba|bốn|tư|năm|sáu|bảy|bẩy|tám|chín|[0-9]+)split^([^\S\r\n]*Mục )([\w\s]+\s+\r?)$split^(\S*Tiết thứ )(nhất|một|hai|ba|bốn|tư|năm|sáu|bảy|bẩy|tám|chín|[0-9]+)split^([^\S\r\n]*Section )([0-9]+|[a-z]+)(\.|:|\s+|^$|\r?)"/>
    <add key="RegexRulesSectionGroup" value="2split2split2split2split2split2split2split2split2split2split2"/>
    <add key="RegexRulesSectionMultiline" value="truesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittrue"/>
    <add key="RegexRulesSectionIgnoreCase" value="truesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittrue"/>

    <add key="RegexRulesChapters" value="^([^\S\r\n]*Chương )([0-9]+)(\.|:|\s+|^$|\r?)split^([^\S\r\n]*Chương )(I+V+X+|I+X+V+|X+V+I+|X+I+V+|V+I+X+|V+X+I+|X+V*I+X+|X+I+V*X+|I+V+X*|I+X+V*|X+V+I*|X+I+V*|V+I+X*|V+X+I*|I+V*X*|I+X*V*|X+V*I*|X+I*V*|V+I*X*|V+X*I*)(\.|:|\s+|^$|\r?)split^([^\S\r\n]*Chương thứ )(nhất|một|hai|ba|bốn|tư|năm|sáu|bảy|bẩy|tám|chín|[0-9]+)(\.|:|\s+|^$|\r?)split^(Chương )([\w\s]+\s+\r?)$split^([^\S\r\n]*Chapter )([0-9]+)(\.|:|\s+|^$|\r?)split^([^\S\r\n]*Chapter )([0-9]+|I+V+X+|I+X+V+|X+V+I+|X+I+V+|V+I+X+|V+X+I+|X+V*I+X+|X+I+V*X+|I+V+X*|I+X+V*|X+V+I*|X+I+V*|V+I+X*|V+X+I*|I+V*X*|I+X*V*|X+V*I*|X+I*V*|V+I*X*|V+X*I*)(\.|:|\s+|^$|\r?)"/>
    <add key="RegexRulesChapterGroup" value="2split2split2split2split2split2split2split2split2split2split2"/>
    <add key="RegexRulesChapterMultiline" value="truesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittrue"/>
    <add key="RegexRulesChapterIgnoreCase" value="truesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittrue"/>

    <add key="RegexRulesParts" value="^([^\S\r\n]*Phần )([0-9]+)(\.|:|\s+|^$|\r?)split^([^\S\r\n]*Phần )(I+V+X+|I+X+V+|X+V+I+|X+I+V+|V+I+X+|V+X+I+|X+V*I+X+|X+I+V*X+|I+V+X*|I+X+V*|X+V+I*|X+I+V*|V+I+X*|V+X+I*|I+V*X*|I+X*V*|X+V*I*|X+I*V*|V+I*X*|V+X*I*)(\.|:|\s+|^$|\r?)split^([^\S\r\n]*Phần thứ )(nhất|một|hai|ba|bốn|tư|năm|sáu|bảy|bẩy|tám|chín|[0-9]+)(\.|:|\s+|^$|\r?)split^([^\S\r\n]*Khoản thứ )(nhất|một|hai|ba|bốn|tư|năm|sáu|bảy|bẩy|tám|chín|[0-9]+)(\s*\.|\s*:|\s+|^$|\r?)split^(Phần )([\p{Lu}| ]+)(\r?)$split^([^\S\r\n]*Part )([0-9]+|I)(\.|:|\s+|^$|\r?)"/>
    <add key="RegexRulesPartGroup" value="2split2split2split2split2split2split2split2split2split2split2"/>
    <add key="RegexRulesPartMultiline" value="truesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittrue"/>
    <add key="RegexRulesPartIgnoreCase" value="truesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittrue"/>

    <add key="RegexRulesParents" value="^(I+V+X+|I+X+V+|X+V+I+|X+I+V+|V+I+X+|V+X+I+|X+V*I+X+|X+I+V*X+|I+V+X*|I+X+V*|X+V+I*|X+I+V*|V+I+X*|V+X+I*|I+V*X*|I+X*V*|X+V*I*|X+I*V*|V+I*X*|V+X*I*)\s+\r?$split^(I+V+X+|I+X+V+|X+V+I+|X+I+V+|V+I+X+|V+X+I+|X+V*I+X+|X+I+V*X+|I+V+X*|I+X+V*|X+V+I*|X+I+V*|V+I+X*|V+X+I*|I+V*X*|I+X*V*|X+V*I*|X+I*V*|V+I*X*|V+X*I*)\s*(\.|:|-|s+)split^([A-HJ-U])\s*(\.|:|-|s+)"/>
    <add key="RegexRulesParentGroup" value="2split2split2split2split2split2split2split2split2split2split2"/>
    <add key="RegexRulesParentMultiline" value="truesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittrue"/>
    <add key="RegexRulesParentIgnoreCase" value="falsesplitfalsesplitfalsesplitfalsesplitfalsesplitfalsesplitfalsesplitfalsesplitfalse"/>

    <add key="RegexRulesChildrens" value="^([0-9]+)(/\s+)split^([0-9]+)(-\s+)split^([0-9]+)(\.\s+)split^([0-9]+)(\)\s+)"/>
    <add key="RegexRulesChildrenGroup" value="2split2split2split2split2split2split2split2split2split2split2"/>
    <add key="RegexRulesChildrenMultiline" value="truesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittrue"/>
    <add key="RegexRulesChildrenIgnoreCase" value="truesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittrue"/>

    <add key="RegexRulesFooters" value="^\S*(Nơi nhận:)(\s+|\r)?$split^\s*(Nơi nhận:)\s*split^(KT\.)split^(TM\.)split(\./\.)\r?$split^(TL\.)split^\s*(thủ tướng|bộ trưởng|chủ tịch)\s*\r?$split^(\s*|\s*&lt;.+)(FOR THE NATIONAL ASSEMBLY|CHAIRMAN OF|ON BEHALF OF|MINISTER OF|PRIME MINISTER|GENERAL MANAGER|PRESIDENT OF)\s*\r?$split(^APPENDIX No. [0-9]+)"/>
    <add key="RegexRulesFooterGroup" value="2split2split2split2split2split2split2split2split2split2split2split2split2split2split2"/>
    <add key="RegexRulesFooterMultiline" value="truesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittrue"/>
    <add key="RegexRulesFooterIgnoreCase" value="truesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittrue"/>
    <add key="RegexRulesFooterEndOfPreContent" value="falsesplitfalsesplitfalsesplitfalsesplittruesplitfalsesplitfalsesplitfalsesplitfalsesplitfalsesplitfalsesplitfalsesplitfalsesplitfalse"/>

    <add key="RegexRulesPublishers" value="(của\s*)(.+\s*.+\s*.)(\s*)(số.+\s*ngày.+)split(liên bộ)(.+\s*.+\s*.)(\s*)(số.+\s*ngày.+)split(của\s*)(.+\s*.+\s*.)(\s*)(ngày.+)"/>
    <add key="RegexRulesPublisherGroup" value="2split2split2split2split2split2"/>
    <add key="RegexRulesPublisherMultiline" value="truesplittruesplittruesplittruesplittruesplittrue"/>
    <add key="RegexRulesPublisherIgnoreCase" value="truesplittruesplittruesplittruesplittruesplittrue"/>

    <add key="RegexRulesPublicDate" value="(Ngày\s+)([0-9]+)(\s+Tháng\s+|\s*-\s*)([0-9]+)(\s+Năm\s+|\s*-\s*)([0-9]+)split(dated\s+|.+\,\s*)([0-9]+|January|February|March|April|May|June|July|August|September|October|November|December)(\s+)([0-9]+)(\,\s*|th\s*)([0-9]+)split(dated\s+|.+\,\s*)([0-9]+)(\,\s*|th\s*|\s+)([0-9]+|January|February|March|April|May|June|July|August|September|October|November|December)(\s+)([0-9]+)"/>

    <add key="RegexRulesAppendices" value="^(Quy chế|Quy định|Biểu mẫu|Phụ lục|Kế hoạch|danh sách|Danh mục|Form|REGULATION|APPENDIX)(.+|\s*)"/>
    <add key="RegexRulesAppendiceGroup" value="2split2split2split2split2split2split2split2split2split2split2"/>
    <add key="RegexRulesAppendiceMultiline" value="truesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittrue"/>
    <add key="RegexRulesAppendiceIgnoreCase" value="truesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittrue"/>

    <add key="RegexRulesAppendices2" value="(.+\s*ban hành kèm theo.+\s*của.+\s*)split(.+\s*ban hành kèm theo.+\s*số.+\s*ngày.+)split(.*\s*ban hành kèm theo.+\s*)split(.*\s*issued together with.+\s*)split(.*\s*To the.+of\s*.+\s*)split(^-{3,})split(&lt;table)split(^.+\.{3,})"/>
    <add key="RegexRulesAppendiceGroup2" value="2split2split2split2split2split2split2split2split2split2split2"/>
    <add key="RegexRulesAppendiceMultiline2" value="truesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittrue"/>
    <add key="RegexRulesAppendiceIgnoreCase2" value="truesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittruesplittrue"/>

    <add key="RegexRulesLawdocNO" value="(Số\s+|Số:\s+)([0-9]+\s+[0-9|a-z|/|\-|\\|đ|ư]+)(\s*ngày)split(Số\s+|Số:\s+)([0-9|a-z|/|\-|\\|đ|ư]+)(\s+)split(No\s+|No:\s+|No\.\s+)([0-9|a-z|/|\-|\\|đ|ư]+)(\s+)"/>
    <add key="RegexRulesLawdocNOGroup" value="2split2split2split2split2split2split2split2split2split2split2"/>

    <add key="IsProcessTable" value="0"/>
    <add key="IsProcessAppendix" value="1"/>
    <add key="DocSearchLink" value="/Tim-Van-Ban-Phap-Luat.html?Keyword="/>
    
  </appSettings>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/general.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
