@using LawsVN.Library
@model LawsVN.Models.NewsViewModel
@if (Model.ListArticlesView.HasValue())
{
    foreach (var articleView in Model.ListArticlesView)
    {
        <div class="first-news page">
            <div class="post-thumb">
                <a href="@articleView.GetArticleUrl()" class="thumb125x70">
                    <img src="@articleView.GetImageUrl_Mobile()"/></a>
            </div>
            <div class="pks">
                <h3 class="post-title-bold"><a href="@articleView.GetArticleUrl()">@articleView.Title</a>
                </h3>
            </div>
        </div>
    }
    { Html.RenderAction("PartialPaginationAjax4", "Shared", new { model = Model.mPartialPaginationAjax }); }
}else
{
    <p>Không tìm thấy dữ liệu phù hợp.</p>
}